# Dependencies
node_modules
.pnpm-store

# Build Output
dist
coverage

# Environment Variables
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log
*.pid
pids/


# Editor
.vscode
.idea
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
legacy_js/
remote_processor/
